@import "_Incorporations.scss";

#tabMenuInsert
{
    padding: 10px;
    div.tabContent
    {
        border: 1px solid #ddd;
        padding: 0 0 1em 0;
        &:not(:first-child)
        {
            border-left: transparent;
        }
    }
}
h3.insertHeader
{
    display: block;
    text-align: center;
    padding: 1em;
    background: #00695C;
    color: #EEEEEE;
    border-bottom: 3px solid #004D40;
    cursor: default;
    margin-bottom: 1em;
    font-family: "Exo-ExtraBoldItalic";
}
div#shortText
{
    padding-bottom: 1.3em !important;
    > ul
    {
        > li
        {
            &:not(:first-child)
            {
                padding-left: 15px;
            }
            > label
            {
                display: block;
            }
            > input
            {
                margin-bottom: 10px;
                padding: 5px 7px 5px 10px;
                outline: none;
                border: 1px solid #BDBDBD;
                cursor: pointer;
                @include timer2();
                &:focus
                {
                    border-color: rgba(183, 28, 28, 0.8);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(183, 28, 28, 0.6);
                    outline: 0 none;
                }
            }
            button.changeTab
            {
                width: 9em;
                padding: 4px;
            }
        }
    }
}

div#longText
{
    > ul
    {
        > li
        {
            &:not(:first-child)
            {
                padding-left: 15px;
            }
            > label
            {
                display: block;
            }
            > textarea
            {
                outline: none;
                border: 1px solid #BDBDBD;
                max-width: 100%;
                padding: 7px;
                overflow-y: auto;
                resize: none;
                @include timer2();
                &:focus
                {
                    border-color: rgba(183, 28, 28, 0.8);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(183, 28, 28, 0.6);
                    outline: 0 none;
                }
            }
        }
    }
}

div#setCover
{
    div.formWrapper
    {
        padding: 0 5px 5px 5px;
        margin-bottom: 2em;
        border-bottom: 1px solid #ddd;
        label.ruleBTN
        {
            display: block;
            padding: 10px;
            margin: 0 5px 5px 0;
            color: #616161;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ddd;
            @include timer2();
            &:hover
            {
                border-color: #616161;
                background-color: #EEEEEE;
                color: #212121;
            }
        }
        > input[type=submit], input[type=reset]
        {
            background-color: #fff;
            padding: 10px;
            color: #616161;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ddd;
            font-weight: bold;
            @include timer2();
        }
        > input[type=submit]
        {
            color: #3F51B5;
            margin: 0 5px 5px 0;
            &:hover
            {
                border-color: #616161;
                background-color: #EEEEEE;
            }
        }
        > input[type=reset]
        {
            //color: #FF3D00;
            //color: #8BC34A;
            //color: #9C27B0;
            color: #E91E63;
            &:hover
            {
                border-color: #616161;
                background-color: #EEEEEE;
            }
        }

        input#choice_cover
        {
            opacity: 0 !important;
            display: none !important;
        }
    }
    div.coverPrev
    {
        text-align: center;
        > span#coverTitle
        {
            display: block;
            font-weight: bold;
            font-size: 1em;
            cursor: default;
            margin-bottom: 7px;
            //color: #FF3D00;
            color: #8BC34A;
            //color: #9C27B0;
            //color: #E91E63;
        }
    }
}