@-webkit-keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

@-moz-keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

@-ms-keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

@keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

.unSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.clearFix:after {
  content: '';
  display: block;
  clear: both;
}

.imgEffect {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  border: 1px solid #DDDDDD;
  max-width: 250px;
  max-height: 370px;
  -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.imgEffect > img {
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.imgEffect > img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.WrapPrev {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  border: 1px solid #DDDDDD;
  max-width: 250px;
  max-height: 370px;
  -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  visibility: hidden;
  opacity: 0;
}

.WrapPrev #prevIMG {
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.WrapPrev #prevIMG:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.alert {
  cursor: default;
}

.alert > h3 {
  text-align: center !important;
  margin-bottom: 5px;
}

.alert #details {
  display: block !important;
  text-align: center !important;
}

* {
  -webkit-border-radius: 0 0 0 0 !important;
  -moz-border-radius: 0 0 0 0 !important;
  -ms-border-radius: 0 0 0 0 !important;
  -o-border-radius: 0 0 0 0 !important;
  border-radius: 0 0 0 0 !important;
}

#tabMenuInsert {
  padding: 10px;
}

#tabMenuInsert div.tabContent {
  border: 1px solid #ddd;
  padding: 0 0 1em 0;
}

#tabMenuInsert div.tabContent:not(:first-child) {
  border-left: transparent;
}

h3.insertHeader {
  display: block;
  text-align: center;
  padding: 1em;
  background: #00695C;
  color: #EEEEEE;
  border-bottom: 3px solid #004D40;
  cursor: default;
  margin-bottom: 1em;
  font-family: "Exo-ExtraBoldItalic";
}

div#shortText {
  padding-bottom: 1.3em !important;
}

div#shortText > ul > li:not(:first-child) {
  padding-left: 15px;
}

div#shortText > ul > li > label {
  display: block;
}

div#shortText > ul > li > input {
  margin-bottom: 10px;
  padding: 5px 7px 5px 10px;
  outline: none;
  border: 1px solid #BDBDBD;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

div#shortText > ul > li > input:focus {
  border-color: rgba(183, 28, 28, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(183, 28, 28, 0.6);
  outline: 0 none;
}

div#shortText > ul > li button.changeTab {
  width: 9em;
  padding: 4px;
}

div#longText > ul > li:not(:first-child) {
  padding-left: 15px;
}

div#longText > ul > li > label {
  display: block;
}

div#longText > ul > li > textarea {
  outline: none;
  border: 1px solid #BDBDBD;
  max-width: 100%;
  padding: 7px;
  overflow-y: auto;
  resize: none;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

div#longText > ul > li > textarea:focus {
  border-color: rgba(183, 28, 28, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(183, 28, 28, 0.6);
  outline: 0 none;
}

div#setCover div.formWrapper {
  padding: 0 5px 5px 5px;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

div#setCover div.formWrapper label.ruleBTN {
  display: block;
  padding: 10px;
  margin: 0 5px 5px 0;
  color: #616161;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

div#setCover div.formWrapper label.ruleBTN:hover {
  border-color: #616161;
  background-color: #EEEEEE;
  color: #212121;
}

div#setCover div.formWrapper > input[type=submit], div#setCover div.formWrapper input[type=reset] {
  background-color: #fff;
  padding: 10px;
  color: #616161;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  font-weight: bold;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

div#setCover div.formWrapper > input[type=submit] {
  color: #3F51B5;
  margin: 0 5px 5px 0;
}

div#setCover div.formWrapper > input[type=submit]:hover {
  border-color: #616161;
  background-color: #EEEEEE;
}

div#setCover div.formWrapper > input[type=reset] {
  color: #E91E63;
}

div#setCover div.formWrapper > input[type=reset]:hover {
  border-color: #616161;
  background-color: #EEEEEE;
}

div#setCover div.formWrapper input#choice_cover {
  opacity: 0 !important;
  display: none !important;
}

div#setCover div.coverPrev {
  text-align: center;
}

div#setCover div.coverPrev > span {
  display: block;
  font-weight: bold;
  font-size: 1em;
  cursor: default;
  margin-bottom: 7px;
  color: #8BC34A;
}
