@font-face {
  font-family: 'Exo-ExtraBoldItalic';
  src: url("customFont/Exo-ExtraBoldItalic.eot"), url("customFont/Exo-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("customFont/Exo-ExtraBoldItalic.woff2") format("woff2"), url("customFont/Exo-ExtraBoldItalic.woff") format("woff"), url("customFont/Exo-ExtraBoldItalic.ttf") format("truetype"), url("customFont/Exo-ExtraBoldItalic.svg#svgfontName") format("svg");
}

@font-face {
  font-family: 'Nobile-Italic';
  src: url("customFont/Nobile-Italic.eot"), url("customFont/Nobile-Italic.eot?#iefix") format("embedded-opentype"), url("customFont/Nobile-Italic.woff2") format("woff2"), url("customFont/Nobile-Italic.woff") format("woff"), url("customFont/Nobile-Italic.ttf") format("truetype"), url("customFont/Nobile-Italic.svg#svgfontName") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTN57F';
  src: url("customFont/PTN57F.eot"), url("customFont/PTN57F.eot?#iefix") format("embedded-opentype"), url("customFont/PTN57F.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
