footer
{
    div.footerContent
    {
        text-align: center;
        border-top: 5px solid #004D40;
        background-color: #00695C;
        padding: 1em 0 0.6em 0;
        margin-top: 2em;
        cursor: default;
        ul
        {
            li
            {
                &:not(:first-child)
                {
                    display: inline-block;
                }
                &:not(:last-child)
                {
                    padding-right: 1em;
                }
                > h5
                {
                    display: block;
                    color: #E0E0E0;
                    margin-bottom: 10px;
                }
                > span
                {
                    display: block;
                    color: #E0E0E0;
                    margin-bottom: 10px;
                    font-size: 12px;
                }
            }
        }
    }
}