@-webkit-keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

@-moz-keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

@-ms-keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

@keyframes textBlinker {
  from {
    color: #00695C;
  }
  to {
    color: #FFF;
  }
}

.unSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.clearFix:after {
  content: '';
  display: block;
  clear: both;
}

.imgEffect {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  border: 1px solid #DDDDDD;
  max-width: 250px;
  max-height: 370px;
  -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.imgEffect > img {
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.imgEffect > img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.WrapPrev {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  border: 1px solid #DDDDDD;
  max-width: 250px;
  max-height: 370px;
  -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  visibility: hidden;
  opacity: 0;
}

.WrapPrev #prevIMG {
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.WrapPrev #prevIMG:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.alert {
  cursor: default;
}

.alert > h3 {
  text-align: center !important;
  margin-bottom: 5px;
}

.alert #details {
  display: block !important;
  text-align: center !important;
}

* {
  -webkit-border-radius: 0 0 0 0 !important;
  -moz-border-radius: 0 0 0 0 !important;
  -ms-border-radius: 0 0 0 0 !important;
  -o-border-radius: 0 0 0 0 !important;
  border-radius: 0 0 0 0 !important;
}
