@import "_Incorporations.scss";
@media only screen and (min-width: 1000px)
{

}
div.wrapAll
{
    padding: 2.5em 0 2em 0;
    height: 100%;
    div.loginContent
    {
        background-color: #fff;
        margin: 0 auto;
        width: 50%;
        height: 20em;
        padding: 1em 0.5em 1em 0.5em;
        border: 1px solid #BDBDBD;
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        div.wrapper1
        {
            div.input-group
            {
                input.form-control
                {
                    font-weight: bold;
                    &:focus
                    {
                        border-color: rgba(183, 28, 28, 0.8);
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(183, 28, 28, 0.6);
                        outline: 0 none;
                    }
                }
                > span
                {
                    font-weight: bold;
                }
            }
            > button
            {
                width: 7em;
                border: 1px solid #757575;
                background-color: #E0E0E0;
                @include timer2();
            }
        }

        div.wrapper2
        {
            padding-right: 0;
            border: 1px solid #EEEEEE;
            div.captcha
            {
                height: auto;
            }
        }

        div.wrapper3
        {
            margin-top: 3em;
            div.alert
            {
                > h5
                {
                    font-weight: bold;
                    text-align: center;
                }
                > h3
                {
                    text-align: center;
                }
                span
                {
                    display: block;
                    padding-top: 7px;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        div.input-group
        {
            margin-bottom: 12px;
            > input.form-control
            {
                //width: 15em;
            }
        }
    }
}
